{% extends 'base.html' %}
{% block 'title' %}
    sell
{% endblock 'title' %}
{% block 'css' %}
    <style type="text/css">
        * {
            margin: 0;
            padding: 0
        }

        html {
            height: 100%
        }

        body {
            background-color:: #9C27B0;
            background-image: linear-gradient(120deg, #ffd89b,#19547b)
        }

        #msform {
            text-align: center;
            position: relative;
            margin-top: 20px
        }

        #msform fieldset .form-card {
            background: white;
            border: 0 none;
            border-radius: 0px;
            box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
            padding: 20px 40px 30px 40px;
            box-sizing: border-box;
            width: 94%;
            margin: 0 3% 20px 3%;
            position: relative
        }

        #msform fieldset {
            background: white;
            border: 0 none;
            border-radius: 0.5rem;
            box-sizing: border-box;
            width: 100%;
            margin: 0;
            padding-bottom: 20px;
            position: relative
        }

        #msform fieldset:not(:first-of-type) {
            display: none
        }

        #msform fieldset .form-card {
            text-align: left;
            color: #9E9E9E
        }

        #msform input,
        #msform textarea {
            padding: 0px 8px 4px 8px;
            border: none;
            border-bottom: 1px solid #ccc;
            border-radius: 0px;
            margin-bottom: 25px;
            margin-top: 2px;
            width: 100%;
            box-sizing: border-box;
            font-family: montserrat;
            color: #2C3E50;
            font-size: 16px;
            letter-spacing: 1px
        }

        #msform input:focus,
        #msform textarea:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            border: none;
            font-weight: bold;
            border-bottom: 2px solid skyblue;
            outline-width: 0
        }

        #msform .action-button {
            width: 100px;
            background: skyblue;
            font-weight: bold;
            color: white;
            border: 0 none;
            border-radius: 0px;
            cursor: pointer;
            padding: 10px 5px;
            margin: 10px 5px
        }

        #msform .action-button:hover,
        #msform .action-button:focus {
            box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue
        }

        #msform .action-button-previous {
            width: 100px;
            background: #616161;
            font-weight: bold;
            color: white;
            border: 0 none;
            border-radius: 0px;
            cursor: pointer;
            padding: 10px 5px;
            margin: 10px 5px
        }

        #msform .action-button-previous:hover,
        #msform .action-button-previous:focus {
            box-shadow: 0 0 0 2px white, 0 0 0 3px #616161
        }

        select.list-dt {
            border: none;
            outline: 0;
            border-bottom: 1px solid #ccc;
            padding: 2px 5px 3px 5px;
            margin: 2px
        }

        select.list-dt:focus {
            border-bottom: 2px solid skyblue
        }

        .card {
            z-index: 0;
            border: none;
            border-radius: 0.5rem;
            position: relative
        }

        .fs-title {
            font-size: 25px;
            color: #2C3E50;
            margin-bottom: 10px;
            font-weight: bold;
            text-align: left
        }

        #progressbar {
            margin-bottom: 30px;
            overflow: hidden;
            color: lightgrey
        }

        #progressbar .active {
            color: #000000
        }

        #progressbar li {
            list-style-type: none;
            font-size: 12px;
            width: 25%;
            float: left;
            position: relative
        }

        #progressbar #account:before {
            font-family: FontAwesome;
            content: "\f023"
        }

        #progressbar #personal:before {
            font-family: FontAwesome;
            content: "\f007"
        }

        #progressbar #payment:before {
            font-family: FontAwesome;
            content: "\f09d"
        }

        #progressbar #confirm:before {
            font-family: FontAwesome;
            content: "\f00c"
        }

        #progressbar li:before {
            width: 50px;
            height: 50px;
            line-height: 45px;
            display: block;
            font-size: 18px;
            color: #ffffff;
            background: lightgray;
            border-radius: 50%;
            margin: 0 auto 10px auto;
            padding: 2px
        }

        #progressbar li:after {
            content: '';
            width: 100%;
            height: 2px;
            background: lightgray;
            position: absolute;
            left: 0;
            top: 25px;
            z-index: -1
        }

        #progressbar li.active:before,
        #progressbar li.active:after {
            background: skyblue
        }

        .radio-group {
            position: relative;
            margin-bottom: 25px
        }

        .radio {
            display: inline-block;
            width: 204;
            height: 104;
            border-radius: 0;
            background: lightblue;
            box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
            box-sizing: border-box;
            cursor: pointer;
            margin: 8px 2px
        }

        .radio:hover {
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
        }

        .radio.selected {
            box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
        }

        .fit-image {
            width: 100%;
            object-fit: cover
        }
    #grad1{
           background-color: #9C27B0;
            background-image: linear-gradient(120deg, #ffd89b,#19547b)
        }
    .btn-submit{
        padding:1%  ;
        margin:auto;
        color : maroon;
         background-color: #9C27B0;
            background-image: linear-gradient(120deg, #ffd89b,#19547b)

    }
    .btn-submit:hover{

        color:white;
        background: #8393ce;
    }

    </style>

{% endblock 'css' %}



{% block 'instructions' %}

    {% if message  %}
        <div>
        {{ message }}
        </div>
    {% endif %}
    <div class="container-fluid py-5 " id="grad1">
        <div class="row justify-content-center mt-0">
            <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                    <h2><strong>Sell your book :)</strong></h2>
                    <p>Fill the form to sell your book on our portal</p>
                    <div class="row">
                        <div id="msform" class="col-md-12 mx-0">
                            <form  method="POST" enctype="multipart/form-data">

                                {% csrf_token %}
                                <!-- progressbar -->

                                <fieldset>
                                    <div class="form-card">
                                        <h2 class="fs-title">Book Information</h2>
                                        <input type="text" id="btitle" placeholder="Book Name" name="book_name"/>
                                        <input type="text" id="author" placeholder="Author name" name="book_author_name"/>
                                        <input type="text" id="Detail" placeholder="book Description" name="book_description"/>
                                        <select  id = "book_category" class="w-100 p-2 bg-light text-center text-secondary mb-3  border-bottom border-secondary" name="book_category">
                                         <option value="Default"> <strong> Select 'BOOK' Category  </strong> </option>

                                            <option > <strong> Religious </strong> </option>
                                            <option value ="kids"> <strong> Kids </strong> </option>
                                        <option value ="novels"> <strong> Novels </strong> </option>
                                        <option value ="adult"> <strong> Adult(18+) </strong> </option>
                                        <option value ="education"> <strong> Education</strong> </option>
                                        <option value ="biography"> <strong> Auto-Biography & Biography </strong> </option>
                                        <option value ="study material"> <strong> Study Material </strong> </option>
                                        <option value ="others"> <strong> Others </strong> </option>

                                        </select>
                                        <input type="text" id="eprice" placeholder="Expected price" name="book_price_to_sell"/>
                                    </div>

                                    <div class="form-card">
                                        <h2 class="fs-title">Add book picture</h2>

                                        <div class="col">
                                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
                                                 alt="" style="border-radius:0% "  class="img-thumbnail "/>
                                            <div class="file btn" style="width: 272px; height: 60px">

                                                <input type="file" id="file"  name= "book_image" class=" p-2 mx-1"/>
                                            </div>

                                            <center>  <BUTTON class = "btn-submit w-50 rounded" id = "submit-button" type="submit"  >Add book </BUTTON></center>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock  %}






