{% extends 'base.html' %}
{% block 'title' %}what is our project {% endblock 'title' %}

{% load static %}

{% block 'script' %}
    $(document).ready(function() {
    $('.has-animation').each(function(index) {
    $(this).delay($(this).data('delay')).queue(function(){
    $(this).addClass('animate-in');
    });
    });
    });
{% endblock 'script' %}




{% block 'css' %}
    <style type="text/css">
        body {
            font-family: 'Montserrat', sans-serif;
            text-align: center;
        }


        div {
            display: inline-block;

        }

        .bigger {
            margin: 0;
            font-size: 60px;
            font-weight: 800;
            padding: 20px;
            text-transform: uppercase;
            color: #202020;
            display: inline-block;
            position: relative;
        }

        .text {
            max-width: 600px;
            width: 100%;
            line-height: 24px;
            text-align: left;
            color: #404040;
            padding: 20px;
        }

        .text.txt-center {
            text-align: center;
        }

        .text a {
            color: #0fe4d2;
        }

        .has-animation {
            position: relative;
        }

        .has-animation p, .has-animation img {
            opacity: 0;
        }

        .has-animation.animate-in p, .has-animation.animate-in img {
            animation: textHidden 0.1s 1.1s forwards;
        }

        .has-animation.animate-in:before, .has-animation.animate-in:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            z-index: 10;
        }

        .has-animation.animate-in:before {
            background-color: teal;
        }

        .has-animation.animate-in:after {
            background-color: yellowgreen;
            animation-delay: .5s;
        }

        .has-animation.animation-ltr.animate-in:before {
            animation: revealLTR 1.8s ease;
        }

        .has-animation.animation-ltr.animate-in:after {
            animation: revealLTR 1s .6s ease;
        }

        .has-animation.animation-rtl.animate-in:before {
            animation: revealRTL 1.8s ease;
        }

        .has-animation.animation-rtl.animate-in:after {
            animation: revealRTL 1s .6s ease;
        }

        @keyframes revealRTL {
            0% {
                width: 0;
                right: 0;
            }
            65% {
                width: 100%;
                right: 0;
            }
            100% {
                width: 0;
                right: 100%;
            }
        }

        @keyframes revealLTR {
            0% {
                width: 0;
                left: 0;
            }
            65% {
                width: 100%;
                left: 0;
            }
            100% {
                width: 0;
                left: 100%;
            }
        }

        @keyframes textHidden {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    </style>
{% endblock 'css' %}



{% block 'carousel' %}
    <div class="has-animation animation-ltr" style="margin-top:10%" data-delay="10">
        <p class="bigger">About us</p>
    </div>

    <br>
    <br>

    <div class="has-animation animation-rtl" data-delay="1000">
        <p class="text">
            <b>Bshare is here for Student Textbook Exchange System which simplifies the way of buying , selling and
                sharing textbook online among the students. Cool part, Its simple! What if I say you can make it into a
                business model. If you are not good with book keeping, Why not decide to sell all those books and make a
                small fortune out of this.</b></p>
        “Books just don't go with you, they take where you're never been”

    </div>
    <br>
    <br>

    <br>
    <br>
    <div class="has-animation animation-rtl " data-delay="200">
        <img src="{% static 'home/images/logo3.png' %}" style="width:320px "/>
    </div>

{% endblock 'carousel' %}