<!DOCTYPE html>
<html>
<head>
	<title>payment</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Payment</title>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css">
  <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
  <style>
         
     body {
         font-family: 'Acme', sans-serif;
  background: #eecda3;
  background: -webkit-linear-gradient(to right, #eecda3, #990033);
  background: linear-gradient(to right, #eecda3, #ef629f);
  min-height: 100vh;
  overflow-x: hidden;
}
.pay{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
    </style>
</head>
<body>
<div class="container pay" style="background-color: #fff !important;"><br><br><br>
            <h5>Payments</h5> 
            <h6><b>How do I pay for a Art_Rhythmic purchase?</b></h6>
            <h6>Art_Rhythmic offers you multiple payment methods. Whatever your online mode of payment, you can rest assured that Art_Rhythmic's trusted payment gateway partners use secure encryption technology to keep your transaction details confidential at all times.</h6>
            <h6>You may use Internet Banking, Gift Card, Cash on Delivery and Wallet to make your purchase.</h6>
            <h6>Art_Rhythmic also accepts payments made using Visa, MasterCard, Maestro and Rupay credit/debit cards in India.</h6>
            <br><h6><b>Are there any hidden charges (Sales Tax) when I make a purchase on Art_Rhythmic?</b></h6>
            <h6>There are NO hidden charges when you make a purchase on Art_Rhythmic. The prices listed for all the items are final and all-inclusive. The price you see on the product page is exactly what you pay.</h6>
            <h6>Delivery charges may be extra depending on the seller policy. Please check individual seller for the same. In case of seller WS Retail, the ₹50 delivery charge is waived off on orders worth ₹500 and over.</h6>
        <br>    <h6><b>How do I pay using a credit/debit card?</b></h6>
            <h6>We accept payments made by credit/debit cards issued in India.</h6>
            <h6><b>Credit cards</b></h6>
            <h6>We accept payments made using Visa, MasterCard and Rupay credit cards.</h6>
            <h6>To pay using your credit card at checkout, you will need your card number, expiry date, three-digit CVV number (found on the backside of your card). After entering these details, you will be redirected to the bank's page for entering the online 3D Secure password.</h6>
       <h6><b>debit cards</b></h6>
            <h6>We accept payments made using Visa, MasterCard, Rupay and Maestro debit cards</h6>
            <h6>To pay using your debit card at checkout, you will need your card number, expiry date (optional for Maestro cards), three-digit CVV number (optional for Maestro cards). You will then be redirected to your bank's secure page for entering your online password (issued by your bank) to complete the payment.</h6>
            
           <br> <h6><b>How do I place a Cash on Delivery (C-o-D) order?</b></h6>
            <h6>All items that have the "Cash on Delivery Available" icon are valid for order by Cash on Delivery.</h6>
            <h6>Add the item(s) to your cart and proceed to checkout. When prompted to choose a payment option, select "Pay By Cash on Delivery". Enter the CAPTCHA text as shown, for validation.</h6>
            <h6>Once verified and confirmed, your order will be processed for shipment in the time specified, from the date of confirmation. You will be required to make a cash-only payment to our courier partner at the time of delivery of your order to complete the payment.</h6>
            <ul>Terms & Conditions:
                <li>The maximum order value for C-o-D is ₹50,000</li>
                <li>Gift Cards or Store Credit cannot be used for C-o-D orders</li>
                <li>Cash-only payment at the time of delivery.</li>
            </ul>
            <br><br><br>
        </div>
</body>
</html>