<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Return Policy</title>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css">
  <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
  
  <style>
         
     body {
         font-family: 'Acme', sans-serif;
  background: #eecda3;
  background: -webkit-linear-gradient(to right, #eecda3, #990033);
  background: linear-gradient(to right, #eecda3, #ef629f);
  min-height: 100vh;
  overflow-x: hidden;
}
.return{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
    </style>
</head>
<body>
<div class="container return" style="background-color: #fff !important;"><br><br><br>
            <h1 class=" text-center">Return Policy</h1><br>
             <p>Returns is a scheme provided by respective sellers directly under this policy in terms of which the option of exchange, replacement and/ or refund is offered by the respective sellers to you. All products listed under a particular category may not have the same returns policy. For all products, the policy on the product page shall prevail over the general returns policy.</p><br>
             <h5 ><b>Can my order be replaced ?</b></h5>
         <p>If the item you ordered arrived in a physically damaged or defective condition or is different from their description on the product detail page , or has missing parts or accessories, it will be eligible for a free replacement, provided the exact item is available with the same seller.</p> 
         <br><br><br>  
        </div>
</body>
</html>0