<!DOCTYPE html>
<html>
<head>
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Shipping Policy</title>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css">
  <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
  
  <style>
         
    body {
        font-family: 'Acme', sans-serif;
  background: #eecda3;
  background: -webkit-linear-gradient(to right, #eecda3, #990033);
   background-image: linear-gradient(120deg, #ffd89b,#19547b);
  min-height: 100vh;
  overflow-x: hidden;
}
.ship{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
    </style>
</head>
<body>
<div class="container ship" style="background-color: #fff !important;"><br><br><br>
            <h5>Shipping Policy</h5><br>
            <h6><b>What are the delivery charges?</b></h6>
            <h6>Delivery charge varies with each Seller.</h6>
            <h6>Sellers incur relatively higher shipping costs on low value items. In such cases, charging a nominal delivery charge helps them offset logistics costs. Please check your order summary to understand the delivery charges for individual products.</h6>
            <br><h6><b>Why does the delivery date not correspond to the delivery timeline of X-Y business days?</b></h6>
            <h6>It is possible that the Seller or our courier partners have a holiday between the day your placed your order and the date of delivery, which is based on the timelines shown on the product page. In this case, we add a day to the estimated date. Some courier partners and Sellers do not work on Sundays and this is factored in to the delivery dates.</h6>
            <br> <h6><b>What is the estimated delivery time?</b></h6>
            <h6>Sellers generally procure and ship the items within the time specified on the product page. Business days exclude public holidays and Sundays.</h6>
            <ul><h6>Estimated delivery time depends on the following factors:</h6>  
            <li>The Seller offering the product</li>
            <li>Product's availability with the Seller</li>
            <li>The destination to which you want the order shipped to and location of the Seller.</li></ul><br>
            <h6><b>Are there any hidden costs (sales tax, octroi etc) on items sold by Sellers on Bshare?</b></h6>
            <h6>There are NO hidden charges when you make a purchase on Bshare. List prices are final and all-inclusive. The price you see on the product page is exactly what you would pay.</h6>
            <h6>Delivery charges are not hidden charges and are charged (if at all) extra depending on the Seller's shipping policy.</h6>
           <br> <h6><b>Why does the estimated delivery time vary for each seller?</b></h6>
            <h6>You have probably noticed varying estimated delivery times for sellers of the product you are interested in. Delivery times are influenced by product availability, geographic location of the Seller, your shipping destination and the courier partner's time-to-deliver in your location.</h6>
            <h6>Please enter your default pin code on the product page (you don't have to enter it every single time) to know more accurate delivery times on the product page itself.</h6>
         <br>   <h6><b>Seller does not/cannot ship to my area. Why?</b></h6>
            <h6>Please enter your pincode on the product page (you don't have to enter it every single time) to know whether the product can be delivered to your location.</h6>
            <h6>If you haven't provided your pincode until the checkout stage, the pincode in your shipping address will be used to check for serviceability.</h6>
            <ul>
                <li>Whether the Seller ships to your location</li>
                <li>Legal restrictions, if any, in shipping particular products to your location</li>
                <li>The availability of reliable courier partners in your location</li>
            </ul>
           <h6>At times Sellers prefer not to ship to certain locations. This is entirely at their discretion.</h6><br>
           <h6><b>Why is the CoD option not offered in my location?</b></h6>
           <h6>Availability of CoD depends on the ability of our courier partner servicing your location to accept cash as payment at the time of delivery.</h6>
           <h6>Our courier partners have limits on the cash amount payable on delivery depending on the destination and your order value might have exceeded this limit. Please enter your pin code on the product page to check if CoD is available in your location.</h6>
       <br><br><br> </div>
</body>
</html>